#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config CAF_CUSTOM_LED_STATE
	bool "Sample LED state module"
	depends on CAF_LED_EVENTS
	depends on CAF_BUTTON_EVENTS
	help
	  If enabled, the application specific, LED state module, is included
	  in the application and controls LEDs based on buttons presses.

if CAF_CUSTOM_LED_STATE

module = CAF_CUSTOM_LED_STATE
module-str = caf custom led state
source "subsys/logging/Kconfig.template.log_config"

endif # CAF_CUSTOM_LED_STATE
